body {

    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #9b9999b7;
    background-color: #9b9999b7;
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    background-color: #040458;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 5px;
}

a {
    color: #00ccff;
    text-decoration: none;
    margin: 0 8px;
}

main {
    max-width: 900px;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}